##############################
## MacOS
##############################
.DS_Store

##############################
## Java
##############################
target

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## Elixir
##############################
_build
cover
deps
doc
.fetch
erl_crash.dump
*.ez
*.beam
config/*.secret.exs
.elixir_ls/
